In [2]:
! pip install unidecode # install unidecode if don't have it

Defaulting to user installation because normal site-packages is not writeable
Collecting unidecode
  Downloading Unidecode-1.3.7-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 KB 2.8 MB/s eta 0:00:00a 0:00:01
Installing collected packages: unidecode
Successfully installed unidecode-1.3.7

In [3]:
#!/usr/bin/env python
# coding: utf-8

# In[ ]:


from bs4 import BeautifulSoup
from tqdm import tqdm

# In[ ]:


import requests
import pandas as pd
# import required module
import unidecode
# In[ ]:


result = []
for i in range(1, 11):
    html = requests.get(f"http://quotes.toscrape.com/page/{i}")
    html_tree = BeautifulSoup(html.text)
    authors_blocks = html_tree.find_all("div", class_="quote")
    for author_block in authors_blocks:
        text = author_block.find("span", attrs={"class":"text"}).text
        author = author_block.find("small", attrs={"class":"author"}).text
        tags = " ".join([tag.text for tag in author_block.find_all("a", attrs={"class":"tag"})]) 
        result.append([author, text, tags])

In [4]:
pd.DataFrame(result, columns=["author", "text", "tags"])

,author,text,tags
0,Albert Einstein,“The world as we have created it is a process ...,change deep-thoughts thinking world
1,J.K. Rowling,"“It is our choices, Harry, that show what we t...",abilities choices
2,Albert Einstein,“There are only two ways to live your life. On...,inspirational life live miracle miracles
3,Jane Austen,"“The person, be it gentleman or lady, who has ...",aliteracy books classic humor
4,Marilyn Monroe,"“Imperfection is beauty, madness is genius and...",be-yourself inspirational
...,...,...,...
95,Harper Lee,“You never really understand a person until yo...,better-life-empathy
96,Madeleine L'Engle,“You have to write the book that wants to be w...,books children difficult grown-ups write write...
97,Mark Twain,“Never tell the truth to people who are not wo...,truth
98,Dr. Seuss,"“A person's a person, no matter how small.”",inspirational
99,George R.R. Martin,“... a mind needs books as a sword needs a whe...,books mind

In [6]:
! pip install tqdm # install tqdm if don't have it (the progress bar)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tqdm in /home/robyavo/.local/lib/python3.10/site-packages (4.66.1)

In [7]:
authors_names = [item[0] for item in result]
authors_names = list(set(authors_names))
result2 = []
for name in tqdm(authors_names):
    new_name = name.replace(".", " ")
    new_name = unidecode.unidecode(new_name)
    html = requests.get(f"http://quotes.toscrape.com/author/{'-'.join(new_name.split())}")
    html_tree = BeautifulSoup(html.text)
    birthday = html_tree.find("span", attrs={"class":"author-born-date"}).text
    location = html_tree.find("span", attrs={"class":"author-born-location"}).text
    description = html_tree.find("div", attrs={"class":"author-description"}).text
    result2.append([name, birthday, location, description])

100%|██████████| 50/50 [00:17<00:00,  2.87it/s]

In [16]:
pd.DataFrame(result2, columns=["name", "birthday", "location", "description"])

,name,birthday,location,description
0,J.D. Salinger,"January 01, 1919","in Manhattan, New York, The United States",\n Jerome David Salinger was an America...
1,James Baldwin,"August 02, 1924","in Harlem, New York, The United States",\n Librarian Note: There is more than o...
2,André Gide,"November 22, 1869","in Paris, France",\n André Paul Guillaume Gide was a Fren...
3,J.R.R. Tolkien,"January 03, 1892","in Bloemfontein, Mangaung, Free State, South A...","\n John Ronald Reuel Tolkien, CBE, was ..."
4,E.E. Cummings,"October 14, 1894","in Cambridge, Massachusetts, The United States",\n Edward Estlin Cummings was born in C...
5,Stephenie Meyer,"December 24, 1973","in Connecticut, The United States","\n I was born in Connecticut in 1973, d..."
6,Helen Keller,"June 27, 1880","in Tuscumbia, Alabama, The United States",\n Helen Keller would not be bound by c...
7,Jorge Luis Borges,"August 24, 1899","in Buenos Aires, Argentina",\n Jorge Francisco Isidoro Luis Borges ...
8,Eleanor Roosevelt,"October 11, 1884",in The United States,\n Anna Eleanor Roosevelt was an Americ...
9,Pablo Neruda,"July 12, 1904","in Parral, Chile","\n Pablo Neruda was the pen name and, l..."
10,George Carlin,"May 12, 1937","in New York, New York, The United States",\n George Denis Patrick Carlin was a Gr...
11,Albert Einstein,"March 14, 1879","in Ulm, Germany","\n In 1879, Albert Einstein was born in..."
12,Steve Martin,"August 14, 1945","in Waco, Texas, The United States","\n Stephen Glenn ""Steve"" Martin is an A..."
13,Haruki Murakami,"January 12, 1949","in Kyoto, Japan",\n Haruki Murakami (Japanese: 村上 春樹) is...
14,Friedrich Nietzsche,"October 15, 1844","in Röcken bei Lützen, Prussian Province of Sax...",\n Friedrich Wilhelm Nietzsche (1844–19...
15,William Nicholson,"January 12, 1948","in Lewes, Sussex, The United Kingdom",\n Librarian Note: There is more than o...
16,Charles Bukowski,"August 16, 1920","in Andernach, Germany",\n Henry Charles Bukowski (born as Hein...
17,Marilyn Monroe,"June 01, 1926",in The United States,\n Marilyn Monroe (born Norma Jeane Mor...
18,Bob Marley,"February 06, 1945","in Nine Mile, Saint Ann, Jamaica","\n Robert ""Bob"" Nesta Marley OM was a J..."
19,J.K. Rowling,"July 31, 1965","in Yate, South Gloucestershire, England, The U...",\n See also: Robert GalbraithAlthough s...
20,W.C. Fields,"January 29, 1880","in Darby, Pennsylvania, The United States",\n W. C. Fields was born William Claude...
21,Mother Teresa,"August 26, 1910","in Skopje, Macedonia, the Former Yugoslav Repu...","\n Blessed Teresa of Calcutta, or Mothe..."
22,Martin Luther King Jr.,"January 15, 1929","in Atlanta, Georgia, The United States","\n Martin Luther King, Jr. was one of t..."
23,Suzanne Collins,"August 11, 1962","in Hartford, Connecticut, The United States",\n Librarian Note: There is more than o...
24,Thomas A. Edison,"February 11, 1847","in Milan, Ohio, The United States",\n Thomas Alva Edison was an American i...
25,Douglas Adams,"March 11, 1952","in Cambridge, England, The United Kingdom",\n Douglas Noël Adams was an English au...
26,Jane Austen,"December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",\n Jane Austen was an English novelist ...
27,C.S. Lewis,"November 29, 1898","in Belfast, Ireland",\n CLIVE STAPLES LEWIS (1898–1963) was ...
28,Alfred Tennyson,"August 06, 1809","in Somersby, Lincolnshire, The United Kingdom",\n Alfred Tennyson was born in Somersby...
29,Mark Twain,"November 30, 1835","in Florida, Missouri, The United States","\n Samuel Langhorne Clemens, better kno..."
30,Alexandre Dumas fils,"July 27, 1824","in Paris, France",\n Alexandre Dumas (son) was born in Pa...
31,George R.R. Martin,"September 20, 1948","in Bayonne, New Jersey, The United States",\n George R. R. Martin was born Septemb...
32,Terry Pratchett,"April 28, 1948","in Beaconsfield, Buckinghamshire, England, The...",\n Sir Terry Pratchett sold his first s...
33,Allen Saunders,"April 24, 1899",in The United States,\n Allen Saunders was an American write...
34,George Eliot,"November 22, 1819","in South Farm, Arbury Hall, Nuneaton, Warwicks...","\n In 1819, novelist George Eliot (nee ..."
35,Ralph Waldo Emerson,"May 25, 1803","in Boston, Massachusetts, The United States","\n in 1803, Ralph Waldo Emerson was bor..."
36,George Bernard Shaw,"July 26, 1856","in Dublin, Ireland",\n George Bernard Shaw was an Irish pla...
37,Madeleine L'Engle,,,\n
38,J.M. Barrie,"May 09, 1860","in Kirriemuir, Angus, Scotland, The United Kin...","\n Sir James Matthew Barrie, 1st Barone..."
39,Jim Henson,"September 24, 1936","in Greenville, Mississippi, The United States","\n James Maury ""Jim"" Henson was the mos..."
40,Khaled Hosseini,"March 04, 1965","in Kabul, Afghanistan","\n Hosseini was born in Kabul, Afghanis..."
41,Ernest Hemingway,"July 21, 1899","in Oak Park, Illinois, The United States",\n Ernest Miller Hemingway was an Ameri...
42,Jimi Hendrix,"November 27, 1942","in Seattle, Washington, The United States",\n Jimi Hendrix was an American guitari...
43,John Lennon,"October 09, 1940","in Liverpool, England, The United Kingdom","\n John Winston Ono Lennon, MBE, was an..."
44,Ayn Rand,"February 02, 1905","in St. Petersburg, Russian Federation",\n Alisa Rosenbaum was born in pre-revo...
45,Charles M. Schulz,"November 26, 1922","in Minneapolis, MN, The United States",\n Charles Monroe Schulz was an America...
46,Harper Lee,"April 28, 1926","in Monroeville, Alabama, The United States","\n Harper Lee, known as Nelle, was born..."
47,Elie Wiesel,"September 30, 1928","in Sighet, Romania",\n Eliezer Wiesel was a Romania-born Am...
48,Dr. Seuss,"March 02, 1904","in Springfield, MA, The United States",\n Theodor Seuss Geisel was born 2 Marc...
49,Garrison Keillor,"August 07, 1942","in Anoka, Minnesota, The United States",\n Garrison Keillor (born Gary Edward K...